@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: black;
  font-size: 1rem;
  transition: 0.5s;
  color: black;
  z-index: 1; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2rem; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

main {
  display: flex;
  justify-content: center; }

video {
  width: 100%;
  display: block; }

::placeholder {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.color__naranja {
  color: #FFBF00; }

.color__turqueza {
  color: #4ABDAC; }

.color__rojo {
  color: #FC4A1A; }

.color__negro {
  color: black; }

.color__blanco {
  color: #ffff; }

.contenedor {
  width: 950px;
  padding-top: 20px; }

.centrar__titulo {
  margin-top: 20px;
  text-align: center; }

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1.2rem; }
  .encabezado .logo__imagen {
    width: 15rem; }
  .encabezado .nav__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    gap: 20px; }
    .encabezado .nav__principal .nav__item:hover {
      transform: scale(1.4); }

.video {
  position: relative;
  margin: 1.5rem 0; }
  .video .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    background: linear-gradient(169deg, black 0%, rgba(255, 255, 255, 0) 86%); }
    .video .overlay .video__contenido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .video .overlay .video__contenido .video__logo {
        width: 5rem; }
      .video .overlay .video__contenido .video__titulo {
        font-weight: bold;
        font-size: 17px; }
      .video .overlay .video__contenido .video__texto {
        font-size: small;
        width: 250px;
        text-align: center; }

.impresora {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  transition: 0.5s; }
  .impresora:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
    border-radius: 10px; }
  .impresora .impresora__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 10px; }
    .impresora .impresora__info .impresora__texto {
      margin-top: 10px;
      width: 300px; }
  .impresora .impresora__img {
    margin-top: 10px;
    width: 300px; }

.grid {
  display: grid;
  justify-items: center;
  margin-top: 30px; }
  .grid .producto {
    margin-top: 20px; }
    .grid .producto .productos__texto {
      width: 230px; }
    .grid .producto .producto__info {
      display: flex;
      flex-direction: column;
      gap: 20px; }
    .grid .producto .producto__imagen {
      max-width: 13rem; }

.boton__producto, .contenedor__formulario .formulario .formulario__boton, .contenedor__registro .formulario__registro .registro__boton {
  background-color: #FFBF00;
  height: 30px;
  width: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  border-radius: 50px;
  border: 0px;
  color: #ffff;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 00.5s; }
  .boton__producto:hover, .contenedor__formulario .formulario .formulario__boton:hover, .contenedor__registro .formulario__registro .registro__boton:hover {
    transform: scale(1.3);
    background-color: #FFBF00; }

.mas__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0; }

.tarjetas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 30px;
  margin-bottom: 70px; }
  .tarjetas .tarjetas__imagen {
    padding-top: 5px;
    height: 5rem; }

.cura {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background1.jpg);
  background-size: cover;
  background-position: center;
  height: 25rem; }
  .cura .cura__imagen {
    height: 10rem;
    width: 10rem; }
  .cura .boton__cura {
    margin-top: 10px;
    background-color: #4ABDAC;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 0px;
    color: #f5f5f5;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s; }
    .cura .boton__cura:hover {
      transform: scale(1.2); }

.nav__item__home:hover {
  color: #FFBF00; }

.nav__item__producto:hover {
  color: #4ABDAC; }

.nav__item__contacto:hover {
  color: black; }

.nav__item__ingresar:hover {
  color: #FC4A1A; }

.nav-link {
  color: #666;
  display: inline-block;
  margin: 0; }
  .nav-link::after {
    display: block;
    content: '';
    border-bottom: solid 3px #FFBF00;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .nav-link:hover::after {
    transform: scaleX(1); }
  .nav-link.fromRight:after {
    transform-origin: 100% 50%; }
  .nav-link.FronRight:after {
    transform-origin: 0% 50%; }

.buscar__producto {
  height: 40px;
  width: 300px; }

.buscar__producto__boton:hover {
  color: #ffff; }

.opcion__producto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.printalot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background2.webp);
  background-size: cover;
  height: 12rem; }
  .printalot .printalot__logo {
    height: 150px;
    width: 150px; }
  .printalot .printalot__letra {
    height: 180px;
    width: 200px; }

.footer__fondo {
  background-color: #f5f5f5;
  margin-top: 70px;
  padding-top: 20px; }
  .footer__fondo .footer__grid {
    display: grid;
    grid-template-rows: 1fr; }
    .footer__fondo .footer__grid .footer__info {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer__fondo .footer__grid .footer__texto {
      text-align: center;
      width: 250px; }
    .footer__fondo .footer__grid .footer__redes {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      gap: 10px; }
    .footer__fondo .footer__grid .footer__separacion {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; }
    .footer__fondo .footer__grid .footer__direccion {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      line-height: 30px; }

.background__contacto {
  margin-top: 50px;
  background-image: url(../img/background3.jpg);
  background-size: cover;
  height: 20rem; }

.contenedor__contacto {
  display: grid;
  margin-top: 50px;
  height: 1200px;
  background-color: #f5f5f5; }
  .contenedor__contacto .contacto__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .contenedor__contacto .contacto__info .contacto__imagen {
      height: 70px;
      width: 250px; }
    .contenedor__contacto .contacto__info .contacto__dato {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #ffff;
      height: 100px;
      width: 250px; }

.contenedor__formulario {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  height: 550px;
  width: 100%; }
  .contenedor__formulario .formulario__titulo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .contenedor__formulario .formulario {
    margin-top: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
    .contenedor__formulario .formulario .formulario__input {
      height: 40px;
      max-width: 200px;
      text-indent: 10px; }
    .contenedor__formulario .formulario .formulario__area {
      grid-column: 1 / 3;
      text-indent: 10px;
      padding-top: 20px; }
    .contenedor__formulario .formulario .formulario__boton {
      height: 30px;
      width: 70px; }
      .contenedor__formulario .formulario .formulario__boton:hover {
        transform: none;
        background-color: #FC4A1A; }

.google__map {
  margin: 50px;
  background-image: url(../img/mapa.jpg);
  background-size: cover;
  height: 300px; }

.contenedor__registro {
  display: grid;
  grid-template-rows: 500px, 500px;
  justify-items: center;
  margin-top: 30px;
  gap: 70px; }
  .contenedor__registro .formulario__registro {
    display: grid;
    gap: 40px;
    margin-top: 50px; }
    .contenedor__registro .formulario__registro .registro__input {
      height: 30px;
      width: 200px;
      border: none;
      border-bottom: 1px solid black;
      text-indent: 10px;
      outline: none; }
    .contenedor__registro .formulario__registro .registro__boton {
      background-color: #4ABDAC;
      height: 30px;
      width: 80px; }
      .contenedor__registro .formulario__registro .registro__boton:hover {
        background-color: #4ABDAC; }
  .contenedor__registro .registro__redes {
    display: grid;
    height: 450px; }
    .contenedor__registro .registro__redes .iniciar__facebook, .contenedor__registro .registro__redes .iniciar__twitter, .contenedor__registro .registro__redes .iniciar__email {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3b5998;
      color: #ffff;
      height: 40px;
      width: 260px;
      border-radius: 30px;
      transition: 0.5s; }
      .contenedor__registro .registro__redes .iniciar__facebook:hover, .contenedor__registro .registro__redes .iniciar__twitter:hover, .contenedor__registro .registro__redes .iniciar__email:hover {
        transform: scale(1.2);
        cursor: pointer; }
    .contenedor__registro .registro__redes .iniciar__twitter {
      background-color: #00ACEE; }
    .contenedor__registro .registro__redes .iniciar__email {
      background-color: red; }

.creality {
  margin: 50px 0;
  background-image: url(../img/background5.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%; }

.creality__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }

.creality__grid {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 50px;
  justify-items: center; }
  .creality__grid .creality__info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    column-gap: 50px; }
    .creality__grid .creality__info .creality__texto {
      width: 300px;
      line-height: 30px; }
  .creality__grid .creality__area {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .creality__grid .creality__img {
    width: 300px; }

.creality__background {
  margin: 10px 0;
  background-image: url(../img/crality3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px; }

@media (min-width: 900px) {
  .encabezado {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px; }
    .encabezado .nav__principal {
      flex-direction: row;
      justify-content: space-around;
      gap: 30px; }
  .video .overlay .video__contenido {
    gap: 30px; }
    .video .overlay .video__contenido .video__logo {
      width: 230px; }
    .video .overlay .video__contenido .video__titulo {
      font-weight: bold;
      font-size: 40px; }
    .video .overlay .video__contenido .video__texto {
      font-size: small;
      font-size: 20px;
      width: 300px;
      text-align: center; }
  .impresora {
    flex-direction: row;
    justify-content: space-around;
    height: 400px; }
    .impresora .impresora__img {
      margin-top: 30px;
      width: 450px; }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px; }
  .footer__grid {
    grid-template-columns: repeat(4, 1fr); }
  .contenedor__contacto {
    padding-right: 70px;
    grid-template-columns: repeat(2, 1fr);
    height: 650px; }
    .contenedor__contacto .contenedor__formulario {
      width: 450px; }
  .contenedor__registro {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px; }
  .creality__grid {
    grid-template-columns: repeat(2, 1fr); }
    .creality__grid .creality__info {
      align-items: flex-start; }
      .creality__grid .creality__info .creality__texto {
        width: 500px; }
    .creality__grid .creality__img {
      width: 400px; }
  .creality__background {
    margin: 30px 0;
    background-position: center;
    height: 600px;
    width: 100%; } }

@media (min-width: 481px) and (max-width: 899px) {
  .encabezado .nav__principal {
    flex-direction: row;
    justify-content: space-between; }
  .video .overlay .video__contenido {
    gap: 8px; }
    .video .overlay .video__contenido .video__logo {
      width: 8rem; }
    .video .overlay .video__contenido .video__titulo {
      font-size: 30px; }
    .video .overlay .video__contenido .video__texto {
      font-size: 15px;
      width: 300px;
      text-align: center; }
  .impresora .impresora__img {
    width: 400px; }
  .grid {
    grid-template-columns: repeat(2, 1fr); }
  .contenedor__contacto {
    justify-items: center;
    align-content: center; }
  .contenedor__formulario {
    width: 450px; }
  .creality__background {
    height: 450px; }
  .creality__grid .creality__info .creality__texto {
    width: 500px; } }
