
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: black;
    font-size: 1rem;
    transition: 0.5s;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    display: block;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.boton-producto {
    background-color: #FFBF00;
    width: 70px;
    height: 30px;
    font-family: 'Merriweather', serif;;
    font-size: small;
    border-radius: 50px;
    border: 0px;
    color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 00.5s;
}

.boton-producto:hover {
    transform: scale(1.3);
    background-color: #FC4A1A;
}

.color-naranja {
    color: #FFBF00;
}

.color-turqueza {
    color: #4ABDAC;
}

.color-rojo {
    color: #FC4A1A;
}

.color-negro {
    color: black;
}

.color-blanco{
    color: white;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

.logo-imagen{
    width: 15rem;
}

.nav__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    gap: 20px;
}

.nav__item:hover {
    transform: scale(1.4);
}

.video {
    position: relative;
    margin-top: 1.5rem;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 86%);
}

.video__contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.video-logo {
    width: 5rem;
}

.video__titulo {
    font-weight: bold;
    font-size: 17px;
}

.video__texto {
    font-size: small;
    width: 250px;
    text-align: center;
}

.container {
    width: 950px;
    padding-top: 20px;
}

.impresora {
    display: grid;
    justify-content: center;
    grid-template-rows: 300px 400px;
    width: auto;
    margin: 60px 0;
    height: 700px;
    transition: 0.5s;
}

.impresora:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale(1.1);
    border-radius: 10px;
}

.impresora-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.impresora-texto {
    width: 230px;
}

.impresora-img {
    width: 400px;
}

.imagen-producto {
    height: 250px;
}

.background-color1 {
    background-image: url(../img/backgroundcolor1.png);
    background-size: cover;
}

.background-color2 {
    background-image: url(../img/backgroundcolor2.png);
    background-size: cover;
}

.grid {
    display: grid;
    justify-items: center;
    margin-top: 30px;
}

.productos-texto {
    width: 230px;
}

.producto-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.producto {
    margin-top: 20px;
}

.producto-imagen {
    max-width: 13rem;
}

.mas-productos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.tarjetas{
    display: flex;
    max-width: 900px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.tarjetas-imagen {
    height: 5rem;
}

.cura {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background1.jpg);
    background-size: cover;
    height: 25rem;
}

.cura-imagen {
    height: 12rem;
    width: 12rem;
}

.boton-cura{
    margin-top: 10px;
    background-color: #4ABDAC;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    color: #f5f5f5; 
    font-size: 18px;
    cursor: pointer;
}


.footer-fondo {
    background-color: #f5f5f5;
    margin-top: 70px;
    padding-top: 20px;
}

.footer-grid {
    display: grid;
    grid-template-rows: 1fr;
}

.footer-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-texto {
    width: 250px;
}

.footer-imagen {
    width: 250px;
    height: 70px;
}

.footer-separacion{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-direccion{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.centrar-titulo{
    margin-top: 20px;
    text-align: center;
}

.nav__item__home:hover {
    color: #ffbf00 !important;;
}

.nav__item__producto:hover {
    color:#4ABDAC;
}

.nav__item__contacto:hover {
    color: black;
}

.nav__item__ingresar:hover {
    color: #FC4A1A;
}

.buscar__producto{
    height: 40px;
    width: 300px;
}

.buscar__producto__boton:hover {
    color: white;
}

.nav-link { color: #666;display:inline-block; margin:0;}
.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px #FFBF00;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after { transform: scaleX(1); }
.nav-link.fromRight:after{ transform-origin:100% 50%; }
.nav-link.fromLeft:after{  transform-origin:  0% 50%; }

.opcion-producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 85px;
}

.printalot {
    background-image: url(../img/background2.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
}

.printalot-logo {
    height: 150px;
    width: 150px;
}

.printalot-letra {
    height: 180px;
    width: 200px;
}

.background-contacto{
    margin-top: 50px;
    background-image: url(../img/background3.jpg);
    background-size: cover;
    height: 20rem;
}

.contenedor-contacto {
    display: grid;
    margin-top: 50px;
    height: 1200px;
    background-color: #f5f5f5;
}

.contacto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.contacto-dato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    height: 100px;
    width: 250px;
}

.contenedor-formulario{
    margin-top: 40px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 100%;
}

.formulario-titulo{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formulario {
    margin-top: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.formulario-input{
    height: 40px;
    max-width: 200px;
    text-indent: 10px;
}

.formulario-area{
    grid-column: 1 / 3;
    text-indent: 10px;
    padding-top: 20px;
}

.formulario-boton{
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: 0;
    background-color: #FC4A1A;
    color: white;
    cursor: pointer;
}

.google-map{
    margin: 50px;
    background-image: url(../img/mapa.jpg);
    background-size: cover;
    height: 300px;

}

.contenedor-registro{
    margin-top: 30px;
    display: grid;
    grid-template-rows: 500px 500px;
    justify-items: center;
}

.formulario-registro{
    display: grid;
    gap: 40px;
    margin-top: 50px;
}

.registro-input {
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    text-indent: 10px;
    outline: none;
}

.registro-redes{
    display: grid;
}

.iniciar-facebook{
    background-color: #3b5998;
    display: flex;
    align-items: center;
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 30px;
    transition: 0.5s;
}

.iniciar-twitter {
    background-color: #00ACEE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    width: 260px;
    border-radius: 30px;
    transition: 0.5s;
}

.iniciar-email {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    width: 260px;
    border-radius: 30px;
    transition: 0.5s;
}
.iniciar-facebook:hover{transform: scale(1.2);cursor: pointer;}
.iniciar-twitter:hover{transform: scale(1.2);cursor: pointer;}
.iniciar-email:hover{transform: scale(1.2);cursor: pointer;}
.creality {
    margin: 50px 0;
    background-image: url(../img/background5.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.creality-grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-items: center;
}

.creality__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creality-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    column-gap: 50px;
    align-items: center;
}

.creality-texto {
    width: 400px;
}

.creality-background{
    margin: 10px 0;
    background-image: url(../img/crality3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.lista-texto{
    font-size: 400;
}

@media (min-width: 900px) {

    .encabezado {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .buscador {
        width: 340px;
    }
    .nav__principal {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }
    .video__contenido {
        gap: 30px;
    }
    
    .video-logo {
        width: 230px;
    }
    
    .video__titulo {
        font-weight: bold;
        font-size: 30px;
    }
    
    .video__texto {
        font-size: small;
        font-size: 20px;
        width: 300px;
        text-align: center;
    }
    .impresora {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        align-items: flex-start;
        height: 350px;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 20px;
    }
    .producto-info {
        align-items: flex-start;
    }
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .contenedor-contacto {
        height: 600px;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor-formulario{
        width: 450px;
    }
    .contenedor-registro{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
    }
    .creality-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .creality-info {
        align-items: flex-start;
    }
    .creality-background{
        margin: 30px 0;
        background-position: center;
        width: 100%;
        height: 600px;
    }
    .creality__titulo {
        align-items: flex-start;
    }
    
}

@media (min-width: 481px) and (max-width: 899px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .nav__principal {
        flex-direction: row;
        justify-content: space-between;
    }
    .video__contenido {
        gap: 8px;
    }
    
    .video-logo {
        width: 8rem;
    }
    
    .video__titulo {
        font-size: 20px;
    }
    
    .video__texto {
        font-size: 15px;
        width: 300px;
        text-align: center;
    }
    .nav-productos{
        grid-template-columns: repeat(3, 1fr);
    }
}