
.background__contacto{
    margin-top: 50px;
    background-image: url(../img/background3.jpg);
    background-size: cover;
    height: 20rem;
}

.contenedor__contacto {
    display: grid;
    margin-top: 50px;
    height: 1200px;
    background-color: #f5f5f5;

        .contacto__info{
            @include flex-colums;
            justify-content: center;
            align-items: center;
            gap: 20px;

                .contacto__imagen{
                    @include alto-ancho(70px, 250px);
                }

                .contacto__dato{
                    @include flex-colums;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    background-color: $colorBlanco;
                    @include alto-ancho(100px, 250px);
                }
        }
}

.contenedor__formulario{
    margin-top: 40px;
    @include flex-colums;
    align-items: center;
    background-color: $colorBlanco;
    @include alto-ancho(600px, 100%);

        .formulario__titulo{
            padding: 30px;
            @include flex-colums;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .formulario {
            margin-top: 10px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

                    .formulario__input{
                        height: 40px;
                        max-width: 200px;
                        text-indent: 10px;
                    }
                    
                    .formulario__area{
                        grid-column: 1 / 3;
                        text-indent: 10px;
                        padding-top: 20px;
                    }
                    
                    .formulario__boton{
                        @include alto-ancho(30px, 70px);
                        @extend .boton__producto;
                        
                            &:hover {
                                transform: none;
                                background-color: $colorRojo;
                            }
                    }
        }
            
}

.google__map{
    margin: 50px;
    background-image: url(../img/mapa.jpg);
    background-size: cover;
    height: 300px;

}