
.impresora {
    @include flex-colums;
    @include alto-ancho(700px, auto);
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    transition: 0.5s;

                .impresora__info {
                    @include flex-colums;
                    align-items: center;
                    gap: 30px;
                    margin-top: 10px;

                        .impresora__texto {
                            margin-top: 10px;
                            width: 200px;
                        }
                }

                .impresora__img {
                    margin-top: 10px;
                    width: 300px;
                }
            
}